
    


    <%= form_with scope: :exports, url: exports_path, method: "get", local: true do |f| %>
        <%= f.label :album_directory_name %><br>
        <%= f.text_field :album_directory_name %>
        <%= f.submit "Filter", :class => 'btn btn-primary btn-sm' %>
    <%end%>
    
    <br>
    
    <table class="table table-striped" id="albumTable">
        <thead>
            <tr> 
                <th scope="col">Select<button type="button" class="btn btn-primary btn-sm">All</button> </th>
                <th scope="col">Album Code</th>
                <th scope="col">Album Title</th>
                <th scope="col">Album release date</th>
            </tr> 
        </thead>
        <tbody>
            <% for album in @all_albums["albums"] %>
                <tr>
                    <td><input class="albumCheckbox" type="checkbox" onclick=changeRequestedAlbum("<%= album["directory_name"]%>") id="<%= album["directory_name"]%>" value="<%album["directory_name"]%>" name=<%= album["directory_name"].to_s%>></td>
                    <td><%= album["directory_name"].to_s %></td>
                    <td><%= album["name"].to_s %></td>
                    <td><%= album["release_date"].to_s %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
