<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item"><%= link_to "First", exports_path, class: "page-link" %></li>

<%# PREVIOUS PAGE %>
    <%if @page > 1 %>
      <li class="page-item"><%= link_to "Prev", exports_path(page: @page - 1, per: @per), class: "page-link" %></li>
    <%end%>

<%# NUMBER OF 2 PREV %>
    <%if (@page) > 2 %>
      <li class="page-item"><%= link_to (@page -2) , exports_path(page: @page - 2, per: @per), class: "page-link" %></li>
    <%end%>
<%# NUMBER OF 1 PREV %>
    <%if (@page) > 1 %>
      <li class="page-item"><%= link_to (@page -1) , exports_path(page: @page - 1, per: @per), class: "page-link" %></li>
    <%end%>

<%# ACTIVE PAGE %>
    <li class="page-item active"><%= link_to @page, exports_path(page: @page, per: @per), class: "page-link" %></li>

<%# NEXT 2 PAGES %>
    <li class="page-item"><%= link_to @page + 1, exports_path(page: @page + 1, per: @per), class: "page-link" %></li>
    <li class="page-item"><%= link_to @page + 2, exports_path(page: @page + 2, per: @per), class: "page-link" %></li>

<%# NEXT PAGE %>
    <li class="page-item"><%= link_to "Next", exports_path(page: @page + 1, per: @per), class: "page-link" %></li>

<%# LAST PAGE  %>
    <%if @page < @lastpage %>
      <li class="page-item"><%= link_to "Last", exports_path(page: @lastpage), class: "page-link" %></li>
    <%end%>
  </ul>
</nav>