
<div class="container">

<%= @export_results %>


  <div class="row">
    <div class="col-sm">
      <h1>EXPORTS SECTION</h1> 

    </div>
    <div class="col-sm">
      Albums per page: 
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" <%= @active20 %>>
        <label class="btn btn-outline-primary" for="btnradio1"><%= link_to "20", exports_path(per: 20, page: @page, album_directory_name: @albumCodeFilter) %></label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" <%= @active50 %>>
        <label class="btn btn-outline-primary" for="btnradio2"><%= link_to "50", exports_path(per: 50, page: @page, album_directory_name: @albumCodeFilter) %></label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" <%= @active100 %>>
        <label class="btn btn-outline-primary" for="btnradio3"><%= link_to "100", exports_path(per: 100, page: @page, album_directory_name: @albumCodeFilter) %></label>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      Select export
        <select id="select_export_type" class="form-select" aria-label="Default select example" onchange=exportType()>
          <option value="cms_format">CMS - CMS Format</option>
          <option value="cms_track_collecting_numbers">CMS - Export work numbers</option>
          <option value="adrev">Audiofiles - AdRev, Content ID</option>
        </select>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col">
      <% if @albumCodeFilter %>
        <div class="alert alert-dark" role="alert">
          Active filters - album code: <b> <%= @albumCodeFilter %> </b>
        </div>
      <%end%>
    </div>
  </div>


  <div class="row">
    <div class="col">


      <%= render 'albumtable'%>


    </div>
  </div>


<%# Submit form of selected albums. Params is called requestedAlbums%>

<%= form_with scope: :exports, url: exports_path(format: :csv), method: "post", local: true do |f| %>
  <%= f.hidden_field :requested_albums %>
  <%= f.hidden_field :export_type, :value => 'cms_format' %>
  <%= f.submit "Submit", :class => 'btn btn-primary' %>
<%end%>

  <br>


  <div class="row">
    <div class="col">
     <%= render 'pagination' %>
    </div>
  </div>

</div>

    <script>

    //add checked albums in table to hidden form to send request
    function changeRequestedAlbum(albumCode){

      valueToChange = document.getElementById("exports_requested_albums").value;

      if (valueToChange.charAt(0) == ','){
        valueToChange = valueToChange.substring(1)
      }

      if (valueToChange.includes(albumCode)){
        valueToChange = document.getElementById("exports_requested_albums").value.replace(albumCode,"")

      }else{
       valueToChange =  valueToChange + "," + albumCode

      }
      
      if (valueToChange.charAt(0) == ','){
        valueToChange = valueToChange.substring(1)
      }      
      if (valueToChange.charAt(valueToChange.length-1) == ','){
        valueToChange = valueToChange.slice(0,-1)
      }

      valueToChange = valueToChange.replace(",,",",")

      document.getElementById("exports_requested_albums").value = valueToChange

    }

    //change the export type in hidden form based on select on top page
    function exportType(){
      
      valueToChange = document.getElementById("select_export_type").value;
      document.getElementById("exports_export_type").value = valueToChange

    }
    </script>
