
<div class="container">


  <div class="row">
    <div class="col-sm">
      <h1>EXPORTS SECTION</h1> <%= @test %>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm">
      Albums per page: 
      <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary"><%= link_to "20", exports_path(per: 20, page: @page) %></button>
        <button type="button" class="btn btn-outline-primary"><%= link_to "50", exports_path(per: 50, page: @page) %></button>
        <button type="button" class="btn btn-outline-primary"><%= link_to "100", exports_path(per: 100, page: @page) %></button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      Select export
        <select class="form-select" aria-label="Default select example">
          <option value="cms_format">CMS - CMS Format</option>
          <option value="track_collecting_numbers">CMS - Export work numbers</option>
          <option value="adrev">Audiofiles - AdRev, Content ID</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render 'albumtable'%>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
     <%= render 'pagination' %>
    </div>
  </div>

<%= form_for (exports, html: {class: '' }) do |f| %>
  <%= f.label :name %>
<%end%>
 

</div>